// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

.logo img {
  max-height: 2em;
}

.views-row.idea {
  margin: 1em 0;
  float: none;
  clear: both;

  .views-field {
    margin-left: 1em;
  }

  .views-field-title {
    margin-left: 0;
    font-size: 1.2em;
  }

  .views-field-field-lead {
    font-style: italic;
    margin-bottom: 0.2em;
  }

  .views-field-field-size {
    font-weight: bold;
    float: left;
  }

  .views-field-field-difficulty {
    font-weight: bold;
    float: left;
  }

  .views-field-title-1 {
    font-style: italic;
    float: none;
    clear: both;
  }
}
